.app_dark_theme  {
    --primary-color: #F9FAFB;
    --inverted-primary-color: #1D2939;
    --secondary-color: #F2F4F7;
    --inverted-secondary-color: #101828; 
    --third-color: #667085;

    // background
    --primary-bg-color:  #1D2939;
    --secondary-bg-color: #101828;
    --inverted-primary-bg-color: #F9FAFB; 
    --inverted-secondary-bg-color:#F2F4F7;
}