.navbar {
    width: 100%;
    background-color: var(--inverted-primary-bg-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 1em;
    margin: 0 auto;
    box-sizing: border-box;
}

.theme {
    width: 2em;
    height: 2em;
}